[paths]
source =
   app

[run]
branch = true
source =
    app
    tests

[report]
precision = 2
show_missing = true
exclude_lines =
    pragma: no cover
    TYPE_CHECKING
omit =
    app/typedefs.py
    tests/example_fixture_tests/*
